@import '';

/* _content/Assignment1/Pages/Adults/Adults.razor.rz.scp.css */
.adults-main[b-wohj4zlpcx]{
    background-color: #0B0E11;
    max-width: 100vw;
    height: 100vh;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.adults[b-wohj4zlpcx]{
    width: 100vw;
    height: 70vh;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.adults-title[b-wohj4zlpcx]{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.adult-form[b-wohj4zlpcx]{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    width: 65%;
}

.form-section[b-wohj4zlpcx]{
    width: 33%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.adult-form-fields[b-wohj4zlpcx]{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

button[b-wohj4zlpcx]{
    background: #FD4D4D;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    outline: none;
    width: 140px;
    margin-top: 20px;
}

button:hover[b-wohj4zlpcx]{
    filter: brightness(1.3);
}

.form-group[b-wohj4zlpcx]{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.label[b-wohj4zlpcx]{
    color: white;
}

.input[b-wohj4zlpcx]{
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    outline: none;
}

.input:hover[b-wohj4zlpcx]{
    filter: brightness(1.3);
}

[b-wohj4zlpcx]::placeholder{
    color: white;
}

input[b-wohj4zlpcx]::-webkit-outer-spin-button,
input[b-wohj4zlpcx]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    color: white;
}

input[type=number][b-wohj4zlpcx]{
    -moz-appearance: textfield;
    color: white;
}

select option[b-wohj4zlpcx]{
    background: rgba(43, 43, 43);
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}
/* _content/Assignment1/Pages/Index.razor.rz.scp.css */
*[b-aqnaetzrkf]{
    transition: .2s all;
}

.main[b-aqnaetzrkf]{
    background-color: #0B0E11;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
} 

.main[b-aqnaetzrkf]::-webkit-scrollbar{
    display: none;
}
 
.header-main[b-aqnaetzrkf]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main-title[b-aqnaetzrkf]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    margin-top: 60px;
}

.main-title .main-title-big[b-aqnaetzrkf]{
    font-size: 10rem;
}

.main-title .main-title-small[b-aqnaetzrkf]{
    font-size: 1.5rem;
}

.discover-button[b-aqnaetzrkf]{
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-top: 20px;
}

.discover-button:focus[b-aqnaetzrkf]{
    outline: none;
}

.discover-button:hover[b-aqnaetzrkf]{
    filter: brightness(1.3);
    background-color: rgba(181, 181, 181, .3);
}
/* _content/Assignment1/Pages/Login/Login.razor.rz.scp.css */
*[b-gd4i8e0irs]{
    transition: .2s ease-in-out;
}
.main[b-gd4i8e0irs]{
    background-image: url("../../images/login-background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login[b-gd4i8e0irs]{
    height: 70vh;
    width: 30vw;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.title[b-gd4i8e0irs]{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form[b-gd4i8e0irs]{
    height: 100%;
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.login-form[b-gd4i8e0irs]{
    
    height: 40%;
    width: 70%;
}

button[b-gd4i8e0irs]{
    background-color: dimgray;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border:none;
    color: white;
    font-size: 20px;
    width: 100%;
}
button:hover[b-gd4i8e0irs]{
    filter: brightness(1.3);
}

input[b-gd4i8e0irs]{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    padding: 5px;
    color:black;
}
/* _content/Assignment1/Pages/Profile/Profile.razor.rz.scp.css */
.profile-main[b-k6e8t7ysiy]{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile[b-k6e8t7ysiy]{
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image[b-k6e8t7ysiy]{
    width: 50%;
    height: 100%;
}

.profile-image img[b-k6e8t7ysiy]{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-info[b-k6e8t7ysiy]{
    width: 50%;
    height: 100%;
    color: white;
}

.profile-name[b-k6e8t7ysiy]{
    font-size: 60px;
}

.logout-button[b-k6e8t7ysiy]{
    color: lightskyblue;
    font-size: 30px;
    cursor: pointer;
}
/* _content/Assignment1/Shared/Components/FamilyList/FamilyDetails.razor.rz.scp.css */
.family-details[b-h04aw7lyl6]{
    background-color: rgba(255, 255, 255, .3);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.family-adults[b-h04aw7lyl6], .family-children[b-h04aw7lyl6], .family-pets[b-h04aw7lyl6]{
    padding-left: 15px;
    padding-bottom: 15px;
}

.adult[b-h04aw7lyl6], .child[b-h04aw7lyl6], .pet[b-h04aw7lyl6]{
    padding-top: 8px;
}
/* _content/Assignment1/Shared/Components/FamilyList/FamilyList.razor.rz.scp.css */
*[b-riyneo3lt9]{
    transition: .2s ease-in-out;
}

.family-main[b-riyneo3lt9]{
    height: 60vh;
    width: 60vw;
    color:white;
    margin-top: 5rem;
    margin-bottom: 8rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.family-container[b-riyneo3lt9]::-webkit-scrollbar{
    width: 5px;
}

.family-container[b-riyneo3lt9]::-webkit-scrollbar-thumb{
    background: white;
}

.family-title[b-riyneo3lt9]{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.family-container[b-riyneo3lt9]{
    width: 100%;
    height: 350px;
    overflow-y: scroll;
}

.family-search[b-riyneo3lt9]{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field[b-riyneo3lt9]{
    background: #FD4D4D;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    outline: none;
}

[b-riyneo3lt9]::placeholder{
    color: white;
}

a[b-riyneo3lt9]{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding:15px;
    border-radius: 50%;
}

a:hover[b-riyneo3lt9]{
    background-color: rgba(255, 255, 255, 0.3);
}

a img[b-riyneo3lt9]{
    width: 16px;
    height: 16px;
}

/* _content/Assignment1/Shared/Components/FamilyList/FamilyListing.razor.rz.scp.css */
*[b-02s66094zx]{
    transition: .2s ease-in-out;
}

.family-item[b-02s66094zx]{
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.family-item span[b-02s66094zx]{
    margin-right: 15px;
}

.family-item:last-child[b-02s66094zx]{
    border: none;
}

.family-item:hover[b-02s66094zx]{
    filter:brightness(1.5);
    background-color: rgba(181, 181, 181, .3);
}

.family-name[b-02s66094zx], .family-address[b-02s66094zx], .family-count[b-02s66094zx]{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 33%;
}

.open[b-02s66094zx]{
    background-color: rgba(255, 255, 255, .3);
    border: none;
}
/* _content/Assignment1/Shared/Components/NavMenu/NavMenu.razor.rz.scp.css */
.nav[b-p3bnnmd0b4] {
    font-size: 16px;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;

}

a[b-p3bnnmd0b4] {
    color: white;
    text-decoration: none;
}

a:visited[b-p3bnnmd0b4] {
    color: white;

}

.nav-ul[b-p3bnnmd0b4] {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    width: 60%;
    height: 100%;
}

.nav-item[b-p3bnnmd0b4] {
    padding: 10px;
    float: left;
}

.item-content[b-p3bnnmd0b4] {
    color: white;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: thin;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.item-content:hover[b-p3bnnmd0b4] {
    filter: brightness(1.5);
    background-color: rgba(181, 181, 181, .3);
}

.profile[b-p3bnnmd0b4] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 40px;
    right: 40px;
}
/* _content/Assignment1/Shared/Components/Notifications/NotificationComponent.razor.rz.scp.css */
.notification-body[b-25w3p8qbax]{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding:20px;
    width: 30vw;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.notifictaion-visible[b-25w3p8qbax]{
    display: flex;
}

.notification-hidden[b-25w3p8qbax]{
    display: none;
}

.notification-title[b-25w3p8qbax]{
    font-size: 25px;
    font-weight: bolder;
}

.notification-content[b-25w3p8qbax]{
    font-size: 16px;
}
/* _content/Assignment1/Shared/Components/SideBar/SideBar.razor.rz.scp.css */
*[b-dwvbmy665p]{
    transition: .2s ease-in-out;
}

.sidebar[b-dwvbmy665p]{
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    top: 0;
    left: 0;
    width: 16px;
}
.sidebar-nav[b-dwvbmy665p]{
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}
.sidebar-item[b-dwvbmy665p]{
    color: white;
    transition: .2s ease-in-out;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item a[b-dwvbmy665p]{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item a:hover[b-dwvbmy665p]{
    filter:brightness(1.5);
    background-color: rgba(181, 181, 181, .3);
}
/* _content/Assignment1/Shared/MainLayout.razor.rz.scp.css */
*[b-d6tdo58m9p]{
    transition: .2s ease-in-out;
    box-sizing: border-box;
}
