@using Assignment1.Data.Notifications
@inject NotificationManager NotificationManager
<div class="notification">
    <div class="title" style="color:@_color">
        @Title
        <div class="exit" @onclick="Remove">
            <img src="../icons/exit.svg" width="12" height="12">
        </div>
    </div>
    <div class="content">
        @Content
    </div>
</div>

@code{
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Content { get; set; }
    [Parameter]
    public NotificationType Severity { get; set; }

    private string _color = "lightblue";

    public Notification()
    {
        switch (Severity)
        {
            case NotificationType.Error:
                _color = "";
                _color = "#FD4D4D";
                break;
            case NotificationType.Info:
                _color = "";
                _color = "#add8e6";
                break;
            case NotificationType.Success:
                _color = "";
                _color = "#32CD32";
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }

    private void Remove(){
        NotificationManager.Remove(this);
    }

}