@using Assignment1.Data.Notifications
@inject NotificationManager NotificationManager

<div class="notification-area">
    @foreach (var notification in _notifications)
    {
        <Notification Content="@notification.Content" Title="@notification.Title"/>
    }
</div>

@code{
    List<Notification> _notifications = new List<Notification>();

    protected override void OnInitialized()
    {
        _notifications = NotificationManager.GetNotifications();
        NotificationManager.Subscribe(this);
        NotificationManager.AddNotification(new Notification()
        {
            Content = "Some text here that represents the body of the notification",
            Title = "The title of the notification",
            Severity = NotificationType.Error,
        }
            );
        Console.WriteLine(_notifications.ToString());
    }

    public void ReactToNotification()
    {
        _notifications = NotificationManager.GetNotifications();
        Console.WriteLine("this happened too");
    }
    
    
}