@attribute [Authorize]
@inject NotificationManager NotificationManager
@page "/"

<div>
    <div class="header-main">
        <div class="main-title">
            <div class="main-title-big" @onclick="ShowNotification">
                Welcome
            </div>
            <div class="main-title-small">
                Here's a list of families
            </div>
        </div>

        <button class="discover-button" onclick="document.getElementById('list').scrollIntoView({behavior:'smooth'})">
            <span>
                <img src="/icons/down-arrow.svg" height="20" width="20">
            </span>
        </button>
    </div>
    <FamilyList/>
</div>

@code{

    private async void ShowNotification()
    {
       await NotificationManager.Show("Title","a simple paragraph", NotificationType.Info);
    }

}