@page "/Login"


<div class="main">
    <div class="login">
        Login 
        <form>
            <input type="text" placeholder="username">
            <input type="text" placeholder="password">
            <button type="submit"></button>
        </form>
    </div>
</div>


@code{

}