.adults-main[b-wohj4zlpcx]{
    background-color: #0B0E11;
    max-width: 100vw;
    height: 100vh;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.adults[b-wohj4zlpcx]{
    width: 100vw;
    height: 70vh;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.adults-title[b-wohj4zlpcx]{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.adult-form[b-wohj4zlpcx]{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    width: 65%;
}

.form-section[b-wohj4zlpcx]{
    width: 33%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.adult-form-fields[b-wohj4zlpcx]{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

button[b-wohj4zlpcx]{
    background: #FD4D4D;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    outline: none;
    width: 140px;
    margin-top: 20px;
}

button:hover[b-wohj4zlpcx]{
    filter: brightness(1.3);
}

.form-group[b-wohj4zlpcx]{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.label[b-wohj4zlpcx]{
    color: white;
}

.input[b-wohj4zlpcx]{
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    outline: none;
}

.input:hover[b-wohj4zlpcx]{
    filter: brightness(1.3);
}

[b-wohj4zlpcx]::placeholder{
    color: white;
}

input[b-wohj4zlpcx]::-webkit-outer-spin-button,
input[b-wohj4zlpcx]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    color: white;
}

input[type=number][b-wohj4zlpcx]{
    -moz-appearance: textfield;
    color: white;
}

select option[b-wohj4zlpcx]{
    background: rgba(43, 43, 43);
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}