*{
    
}

.notification-body{
    transition: .2s fade-in;
    width: 20vw;
    height: auto;
    background: #062c33;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    position: fixed;
    z-index: 1;
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 15px;
    padding:20px;
}

.notification-visible{
    display: flex;
}

.notification-hidden{
    display: none;   
}

.notification-title{
    font-size: 25px;
}

.notification-content{
    font-size: 16px;
    color: white;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}