.nav[b-p3bnnmd0b4] {
    font-size: 16px;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;

}

a[b-p3bnnmd0b4] {
    color: white;
    text-decoration: none;
}

a:visited[b-p3bnnmd0b4] {
    color: white;

}

.nav-ul[b-p3bnnmd0b4] {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    width: 60%;
    height: 100%;
}

.nav-item[b-p3bnnmd0b4] {
    padding: 10px;
    float: left;
}

.item-content[b-p3bnnmd0b4] {
    color: white;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: thin;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.item-content:hover[b-p3bnnmd0b4] {
    filter: brightness(1.5);
    background-color: rgba(181, 181, 181, .3);
}

.profile[b-p3bnnmd0b4] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 40px;
    right: 40px;
}