@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;

<div>
    @Body
</div>


@code {
    [CascadingParameter] protected Task<AuthenticationState> _task { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await _task).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/login");
        }
    }

}