@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
@using Assignment1.Shared.Components.Notification;

<div>
    @Body  
</div>
<NotificationArea />
 

@code {
    [CascadingParameter] protected Task<AuthenticationState> _task { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var user = (await _task).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/login");
        }
    }

}