@page "/profile"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;
@using Assignment1.Data.Login;

<div class="profile-main">
    <div class="profile">
        <div class="profile-image">
            <img alt="profile-pic" src="../icons/profile.svg">
        </div>
        <div class="profile-info">
            <div class="profile-name">
                @username <span class="logout-button" @onclick="Logout">Log out</span>
            </div>
            <div class="profile-description">
                We will add profile info in a future release.
            </div>
        </div>
    </div>
</div>


@code{
    private string username;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        username = ((CustomAuthProvider) AuthenticationStateProvider).GetCachedUser().Username;
    }

    public void Logout()
    {
        ((CustomAuthProvider) AuthenticationStateProvider).Logout();
        NavigationManager.NavigateTo("/login");
    }

}