.adults-main{
    background-color: #0B0E11;
    max-width: 100vw;
    height: 100vh;
    padding:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.adults{
    width: 100vw;
    height: 70vh;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.adults-title{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.adult-form{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    width: 65%;
}

.form-section{
    width: 33%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.adult-form-fields{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}

button{
    background: #FD4D4D;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    outline: none;
    width: 140px;
    margin-top: 20px;
}

button:hover{
    filter: brightness(1.3);
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.label{
    color: white;
}

.input{
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    outline: none;
}

.input:hover{
    filter: brightness(1.3);
}

::placeholder{
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    color: white;
}

input[type=number]{
    -moz-appearance: textfield;
    color: white;
}

select option{
    background: rgba(43, 43, 43);
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}