*[b-aqnaetzrkf]{
    transition: .2s all;
}

.main[b-aqnaetzrkf]{
    background-color: #0B0E11;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
} 

.main[b-aqnaetzrkf]::-webkit-scrollbar{
    display: none;
}
 
.header-main[b-aqnaetzrkf]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main-title[b-aqnaetzrkf]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    margin-top: 60px;
}

.main-title .main-title-big[b-aqnaetzrkf]{
    font-size: 10rem;
}

.main-title .main-title-small[b-aqnaetzrkf]{
    font-size: 1.5rem;
}

.discover-button[b-aqnaetzrkf]{
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-top: 20px;
}

.discover-button:focus[b-aqnaetzrkf]{
    outline: none;
}

.discover-button:hover[b-aqnaetzrkf]{
    filter: brightness(1.3);
    background-color: rgba(181, 181, 181, .3);
}